.narrow {
    width: 400px;
    text-align: left;
}

.normal {
    width: 600px;
    text-align: left;
}

.wide {
    width: 800px;
    text-align: left;
}

body {
    font-family: Times New Roman;
    font-size: 16px;
}

.hide {
    display: none;
}

.fakelink:hover {
    cursor: pointer;
}